body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c2a44;
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring{
    width: 200px;
    height: 200px;
    border: 0px solid #000;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: lime;
    animation: rotate1 2s linear infinite;
}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color: red;
    animation: rotate2 2s linear infinite;
    
}
.ring:nth-child(3){
    border-top-width: 8px;
    border-color: skyblue;
    animation: rotate3 2s linear infinite;
    
}
.loading{
    color: red;
    
}
@keyframes rotate1{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
}
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
}
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
}
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
}
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
}
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
}
}
